table.table-bordered{
    border:1px solid black;
    margin-top:20px;
  }
table.table-bordered > thead > tr > th{
    text-align: center;
    vertical-align: middle;
    border:1px solid black;
}
table.table-bordered > tbody > tr > td{
    border:1px solid black;
    vertical-align: middle;
}

.table-content {
    display: inline-block;
}

.table caption {
    padding: 4px;
    border: solid #000000;
    border-width: 1px 1px 0px 1px;
    text-align: center;
    border-collapse: collapse;
    color: #fff;
    background-color: #005A5C;
}
